*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
#main{
    width: 100%;
    height:100vh;
    overflow-x: hidden;
    background-color: rgb(60, 64, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    position: absolute;
    width:80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    overflow-x: hidden;

}
#phead{
    width: 100%;
    height:80px;
    background-color:rgb(74, 157, 96);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap:10%;
}
.elem{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.elem .box{
    width: 40px;
    height: 30px;
    background-color: aliceblue;
    border-radius:5px;
    display: flex;
    justify-content:center;
    align-items: center;
   
    }
#pbtm{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap:10px;

}

.bubble{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content:center;
    align-items: center;
}
.finalScoreCard{
    width:20%;
    border:2px solid #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}